.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
}

.grid-item {
	background-color: #DCDCDC;
	color: 'black';
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
h1 {
  color: black;
  padding: 5px;
  text-align: center;
  font-variant: small-caps;
}
h2 {
  color: black;
  padding-left: 5px;
  text-align: center;
  font-variant: small-caps;
}
#subtitle {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
